$background-white: #fff;
$background-primary: #f85b5b;
$background-disabled: #dadada;

$border-light: #dadada;
$border-dark: #adadad;
$background-hover: #dedede;

$text-primary: #111111;
$text-secondary: #a0a0a0;
$text-surface: #ffffff;
$text-placeholder: #cccccc;
$text-highlight: #f85b5b;
